@import url("./step-one.css");

.form__section__add-ons {
  display: flex;
  width: 100%;
  padding-inline: 25px;
  background-color: rgb(248, 249, 254);
  border: 1px solid rgb(219, 218, 223);
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
  height: 80px;
  margin-bottom: 5px;
}

.form__section__add-ons__checkbox {
  margin-right: 25px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form__section__add-ons__add-on-name {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  margin-bottom: 5px;
}

.form__section__add-ons__add-on-description {
  color: hsl(231, 11%, 63%);
}

.form__section__add-ons__add-on-price {
  color: hsl(243, 100%, 62%);
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .form__section__add-ons {
    font-size: calc(8px + 2.13vw);
    margin-bottom: 15px;
  }
}
